body {
    font-family: Gantari;
}
.menu-bar {
    background: linear-gradient(90deg,#883cc7,#5042ef,#46b0ed);
    border-radius: 10px;
    border: 2px outset gray;
    position: fixed;
    top: 1px;
    left: 1px;
    width: 99%;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
nav li {
    padding: 5px 15px;
}

nav li a {
    color: white;
    text-decoration: none;
}

/**/