/* Cat APP styles -- Also Styles for Menu Bar */

body {
    font-family: Gantari;
    margin:0;
    font-size:16px;
}
.menu-bar {

    box-sizing: border-box;
    font-family: Gantari;
    background: linear-gradient(90deg,#883cc7,#5042ef,#46b0ed);
    border-radius: 10px;
    border: 2px outset gray;
    top: 3px;
    left: 1px;
    width: 99%;
    margin: 3px 0 10px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
nav li {
    padding: 5px 15px;
}

nav li a {
    color: white;
    text-decoration: none;
}

.drop-menu:hover .drop-menu-content {
    display: block;
}

.drop-menu-content {
    display:none;
    position: absolute;
    top:1.7em;
    min-height:3em;
    box-sizing: border-box;
    background: linear-gradient(90deg,#883cc7,#5042ef,#46b0ed);
    border-radius: 10px;
    border: 2px outset gray;
    z-index: 1;
    margin: 0;
    padding: 5px 8px;
}